corner.png
main
levels.txt
log_prior_weights.txt
posterior_sample.txt
sample.txt
sample_info.txt
sampler_state.txt
weights.txt
Documents/notes.aux
Documents/notes.log
Documents/notes.pdf
Documents/texput.log
